.globe {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
  stroke-dasharray: 2;
}

.ocean {
  fill: royalblue;
  opacity: 0.9;
  stroke: none;
}

.country {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1px;

  &.highlighted-country {
    fill: #f00;
  }

  &:hover {
    fill: slategrey!important;
    opacity: 1!important;
  }
}

.city-marker {
  fill: black;
}

.drag-point {
  fill: blue;
  stroke: black;
  stroke-width: 1px;
}

.theme-dark {
  .ocean {
    fill: #fff;
    opacity: 0.8;
  }

  .city-marker {
    fill: #785fdd;
    stroke: lightgrey;
    stroke-width: 0.5;
  }

  .country {
    fill: #222;
    stroke: lightgrey;
    stroke-width: 0.5;
    //stroke: #151515;

    &.highlighted-country {
      fill: #af3f43;
    }
  }

  text {
    fill: white;
    stroke: black;
    stroke-width: 1;
    font-size: 24px;
  }

  h1 {
    color: grey;
    text-shadow:
              -1px -1px 0 #000,
              1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
  }
}
